input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #9752cc, 0px 0px 1px #bc80ea;
    background: #dfbdfa;
    border-radius: 1.3px;
    border: 0.2px solid #9752cc;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #9752cc, 0px 0px 1px #bc80ea;
    border: 1px solid #bc80ea;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #dfbdfa;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #9752cc, 0px 0px 1px #bc80ea;
    background: #dfbdfa;
    border-radius: 1.3px;
    border: 0.2px solid #9752cc;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #9752cc, 0px 0px 1px #bc80ea;
    border: 1px solid #bc80ea;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #dfbdfa;
    border: 0.2px solid #9752cc;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #9752cc, 0px 0px 1px #bc80ea;
}
input[type=range]::-ms-fill-upper {
    background: #dfbdfa;
    border: 0.2px solid #9752cc;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #9752cc, 0px 0px 1px #bc80ea;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #9752cc, 0px 0px 1px #bc80ea;
    border: 1px solid #bc80ea;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #dfbdfa;
}
input[type=range]:focus::-ms-fill-upper {
    background: #dfbdfa;
}